__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

log/
logs/
run/
runs/
runs_*/
batch_logs/
wandb/
output/
outputs/
result/
results/
checkpoint/
checkpoints/

*.log
*.tmp
*.pth
*.pt
*.ckpt

.DS_Store
.vscode/
.idea/
